@font-face {
    font-family: "meteora";
    src: url("MeteoraRocky.ttf");
}

@font-face {
    font-family: "antik";
    src: url("SteinAntik-Bold.ttf");
}

@font-face {
    font-family: "ceasar";
    src: url("CaesarDressing-Regular.ttf");
}

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: 'meteora', sans-serif;
    font-size: 60px;
    color: #cb8536;
}


p {
    font-family: 'antik', sans-serif;
    font-size: 20px;
    color: black;  
}

h2 {
    font-family: 'ceasar', sans-serif;
    font-size: 80px;
}

.carousel-caption {
    top:50%;
    transform: translateY(-50%);
    bottom:initial;
}

.carte-img {
    
 width: 70%;
 height: 300px;   
}

/* CSS navbar*/

li {
    font-family: 'antik', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: white;  
}

a {
    font-family: 'antik', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: white;  
}


nav .navbar-brand , .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
   }

   .navbar-nav .nav-link:hover, nav .navbar-brand:hover {
        color: #cb8536;
   } 

   footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #604a36;
    color: white;
    padding-top: 15px;
    margin-top: 15px;
  }