@font-face {
    font-family: "meteora";
    src: url("MeteoraRocky.ttf");
}

@font-face {
    font-family: "antik";
    src: url("SteinAntik-Bold.ttf");
}

@font-face {
    font-family: "ceasar";
    src: url("CaesarDressing-Regular.ttf");
}

h1 {
    font-family: 'meteora', sans-serif;
    font-size: 60px;
    color: black;
}


p {
    font-family: 'antik', sans-serif;
    font-size: 15px;
    color: black;  
}

option, input, select{
    font-family: 'antik', sans-serif;
    font-size: 15px;
    
}

h5, h2 {
    font-family: 'ceasar', sans-serif;
    font-size: 25px;
}

span, h6 {
    font-family: 'ceasar', sans-serif;
    font-size: 20px;
}

h6 {
    color: #cb8536;
}

.profil {
    margin: 15px auto;
    padding : 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

/* pagination*/
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
  }

 span a {
    text-decoration: none;
    color:#cb8536;
 }
  
 span a:hover {
    text-decoration: none;
    color: #6b85b2;
 }
  

