{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/navbar.css"/>
    <link rel="stylesheet" href="css/profil.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />   
{% endblock %}

{% block title %}Hello EquipageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container mt-5">
    <h1>Mon equipage !!</h1>

    {% if equipage | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Prénom</th>
                    <th>Role</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for equipier in equipage %}
                    <tr>
                        <td> <img src="{{ equipier.profil.photo }}" style="width: 10%" alt="profil"></td>
                        <td>{{ equipier.profil.prenom }}</td>
                        <td>{{ equipier.profil.role.libelle }}</td>
                        <td>
                            <a href="#" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr >
                    <td>Nombre d'équiper(s): {{ equipage | length }}</td>
                </tr>
            </tfoot>
        </table>

    {% else %}
        <p>Ton équipage n'est pas prêt !</p>
    {% endif %}
    
    
    
</div>

{% endblock %}
